<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>  
    <table>
        <thead>
            <tr>
                <th colspan="2">Gene list of {{ part }}</th>
            </tr>
        </thead>
        <tbody>
            {% for gene in genes %}
            <tr>
                <td>
                    <a href="{{ url_for('gene_page', gene_id=gene[0]) }}">{{ gene[0] }}</a>
                </td> 
                <td>{{ gene[1] }}</td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>